.big-card {
    max-width: 20rem;
    padding: 2rem 2rem;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--light-green);
}

.big-card header {
    padding: 0rem 0rem 1rem 0rem;
}

.big-card p {
    text-align: justify;
}