/* Estilos para la tarjeta principal de presentación */
.big-card {
    min-width: 200px;
    width: 100%;
    padding: 2rem;
    background: rgba(255, 253, 254, 0.035);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: all ease 0.25s;
}

.big-card:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.7);
    scale: 1.02;
}

.big-card__name {
    background: linear-gradient(to right, #7100c2 0%, #ff00c8 100%);
    background-clip: text;
    background-size: cover;
    color: transparent;
    font-size: 3rem;
    margin: 0;
}

.big-card__subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-muted);
}

.big-card__description {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--text-main);
}

.big-card header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.big-card__actions {
    margin-top: 1rem;
}


@media (max-width: 768px) {
    .big-card {
        padding: 1.5rem;
    }

    .big-card__name {
        font-size: 2.5rem;
    }

    .big-card__actions {
        display: flex;
        justify-content: end;
        gap: 1rem;
    }
}

@media (max-width: 425px) {
    .big-card {
        padding: 1.2rem;
    }

    .big-card__name {
        font-size: 2rem;
    }
}