
.hero-section-bg {
    background: linear-gradient(135deg, #000000 0%, #1f1c6b 100%);
}

.hero {
    display: grid;
    width: 90%;
    grid-template-columns: 420px 1fr;
    gap: 4rem;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.img__container {
    min-width: 180px;
    max-width: 100%;
    min-height: 180px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    transition: transform 0.25s ease;
    transition: translate 0.5s ease;
    /* background: 
        linear-gradient(#121212, #121212) padding-box, 
        conic-gradient(in hsl shorter hue, var(--accent), var(--accent-superlight), var(--accent)) border-box; */
}

.img__container:hover {
    cursor: pointer;
    transform: scale(1.05);
    translate: 0px -10px;
}

.img__container::before {
    filter: blur(1rem);
}


.imgManuel {
    object-fit: cover;
    border-radius: 19px;
    width: 100%;
}

@media (max-width: 960px) {
    .hero {
        grid-template-columns: 320px 1fr;
        gap: 2rem;
    }
}

@media (max-width: 720px) {
    .hero-section {
    background: linear-gradient(135deg, #000000 0%, #1f1c6b 100%);
    padding: 2rem;
}
    .hero {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

