/* Estilos globales y variables del proyecto */
:root {
    --bg-dark: #000000;
    --bg-body: #080808;

    --accent-900: #2d004d;
    --accent-800: #4a0080;
    --accent-700: #7100c2;
    --accent-600: #8c25db;
    --accent-500: #a846f3;
    --accent-400: #c269f7;
    --accent-300: #db8dfa;
    --accent-200: #ebbafe;
    --accent-100: #f7e6ff;

    --text-main: #F8FAFC;
    --text-muted: #94A3B8;
    --text-disabled: #4d4d4d;
    --big-title: 3.2rem;
    --glass-white: rgba(4, 4, 4, 0.05);
    --glow-shadow: rgba(113, 0, 194, 0.35);
    --glass-bg: rgba(255, 255, 255, 0.05);
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    background-color: var(--bg-body);
    color: var(--text-main);
}

.pointer {
    cursor: pointer;
}

.section {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.bg {
    background-color: var(--bg-body);
}

strong {
    background: linear-gradient(135deg, #963896 0%, #7f2ac1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    background-color: var(--dark);
    color: var(--text-main);
}

.section-title {
    font-size: var(--big-title);
    text-transform: uppercase;
    color: var(--accent-400);
    padding: 1rem 0rem;
}

.section-description {
    text-align: center;
    font-size: 1.2rem;
    text-align: left;
    max-width: 650px;
}


@media (max-width: 768px) {
    :root {
        --big-title: 2.4rem;
    }

    .section {
        padding: 2rem 1.5rem 3rem 1.5rem;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 15px;
    }

    :root {
        --big-title: 2rem;
    }

    .section {
        padding: 3rem 1.2rem 3rem 1.2rem;
    }
}